<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema</title>
</head>
<body id="tela">
    <div id="header">
        <div class="links">
            <nav>
                <a id="home" href="/">Inicio</a>
                <a class="link" href="/cadastro">Cadastrar</a>
                {{#unless dadosDaConta}}
                    <a id="login" href="/login">Login</a>
                {{/unless}}
                {{#if dadosDaConta}}
                    <a id="login" href="/deslogar">logout</a>
                {{/if}}
            </nav>
            {{#if dadosDaConta}}
            <div id="servicos">
                <a id="servicos" href="/servicos">Servicos</a>
            </div>
            {{/if}}
            <div id="admin">
                {{#ifAdmin dadosDaConta.admin 1}}
                    <a id="admin" href="/admin">Painel Admin</a>
                {{/ifAdmin}}
            </div>
        </div>

    {{{body}}}
</body>
</html>