.cadastro {
    text-align: center;
    width: 400px;
    height: 400px;
    background-color: rgba(25, 21, 29, 0.8);
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 150px;
}

.cadastro input {
    border-radius: 20px;
    height: 40px;
}

#login {
    margin-top: 90px;
    text-align: center;

}

#senha {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;

}
