#tela {
    background-image: url('../img/background.jpg');

}

.cadastro {
    text-align: center;
    width: 400px;
    height: 400px;
    background-color: rgba(25, 21, 29, 0.8);
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 30px;
}

.cadastro input {
    border-radius: 20px;
    height: 40px;
}

#login {
    margin-top: 90px;
    text-align: center;

}

#senha {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;

}

#titulo{
    text-align: center;
    color: white;
    margin-top: 120px;
}

#titulo h2{
    font-size: 40px;
    font-weight: bolder;
}

#header .links{
    margin-top: 25px;
    font-size: 25px;
}

#header .links a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    transition: 150ms;
}

#header .links a:hover{
    color: black;
}

#header .links #home{
    text-align: left;
    margin-left: 40px;
}

#header .links .link{
    margin-left: 75%;
}

#header .links #login{
    margin-left: 40px;
}

#header{
    height:80px;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#admin{
    display: flex;
    margin-left: 410px;
    margin-top: -18px;
    color: rgba(15, 248, 66, 0.7);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    transition: 150ms;
}

#servicos{
    display: flex;
    margin-left: 695px;
    margin-top: -19.5px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    transition: 150ms;
    transition: 150ms;
}

#servicos:hover{
    color: black;
}
