#tela {
    background-image: url('../img/background.jpg');
}

.cadastro {
    text-align: center;
    width: 400px;
    height: 400px;
    background-color: rgba(25, 21, 29, 0.8);
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 30px;
}

.cadastro input {
    border-radius: 20px;
    height: 40px;
}

#login {
    margin-top: 90px;
    text-align: center;

}

#senha {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;

}

#titulo{
    text-align: center;
    color: white;
    margin-top: 120px;
}

#titulo h2{
    font-size: 40px;
    font-weight: bolder;
}
